version: "3.9"

services:
  web:
    build:
      context: .
      target: web
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_WS_URL=ws://backend:5001/trpc
    depends_on:
      - backend

  backend:
    build:
      context: .
      target: backend
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      - NODE_ENV=production
